/*FONTS:
font-family: 'Montserrat', sans-serif;
*/

:root{
    --montserrat-font: 'Montserrat', sans-serif;
}

body{
    font-family: var(--montserrat-font);
}

/*HEADER*/
.header__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodney-img{
    width: 102px;
    height: 102px;
}

.header-title{
    font-size: .875rem;
}

.header-subtitle{
    font-size: .625rem;
}

/*MAIN*/
.account-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info{
    width: 78px;
    height: 52px;
    font-size: .75rem;
    margin: .5rem;
    word-spacing: 30px;
    background-color: rgba(229, 229, 229, 1);
    padding: 10px;
}

.photo-container{
    margin-left: 12px;
    margin-right: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 11px;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.photo1{
    width: 109px;
    height: 109px;
    grid-column: 1 / 3;
    grid-row: 1;
}

.photo2{
    width: 230px;
    height: 109px;
    grid-column: 2 / 4;
    grid-row: 1;
}

.photo3{
    width: 229px;
    height: 109px;
    grid-column: 1 / 3;
    grid-row: 2;
}

.photo4{
    width: 109px;
    height: 231px;
    grid-column: 3;
    grid-row: 2 / 4;
}

.photo5{
    width: 109px;
    height: 109px;
    grid-column: 1;
    grid-row: 3;
}

.photo6{
    width: 109px;
    height: 109px;
    grid-column: 2;
    grid-row: 3;
}